/* TOP STUFF */
.head{
  position:relative;
  top:0;
  width:100%;
  min-height:auto;
  background-image: url('../img/raised-haitian-fist.png');
  background-size: cover;
  background-position:top;
}

.head hr{
  border-color: #DD183D;
  border-width: 6px;
  max-width: 100px;
  margin-top:0;
}

.head .head-content{
  width:100%;
  padding:250px 0px 250px 0px;
  text-align:center;
  color:#f3f3f3;
}

.head .head-content h1{
  font-size:5.5em;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing: 3px;
  color:white;
  margin-bottom:5px;
}

.head .head-content h1::after{display: none;}

.head .head-content h3{
  font-size:1.5em;
  font-weight:lighter;
  color:white;
  letter-spacing:1px;
  text-shadow:1px 1px 40px #eee;
}


.head button{margin-top:20px;}

/*Animations*/
.head .head-content h3.animated{animation-delay:.5s}
.head .head-content .btn.animated{animation-delay:1s}


/* ROWS */

.row1{background: linear-gradient(0deg, rgba(85,85,85,1) 0%, rgba(0,0,0,1) 100%);}
.row2{background: linear-gradient(0deg, rgba(170,170,170,1) 0%, rgba(85,85,85,1) 100%);}
.row3{background: linear-gradient(0deg, rgba(230,230,230,1) 0%, rgba(170,170,170,1)100%);}
.row4{background: linear-gradient(0deg, rgba(255,255,255,1) 75%, rgba(230,230,230,1)100%);}


.col-sm-6 img{
  width:80%;
}

.quote-box{
  width:80%;
  margin:10%;
  height:600px;
  padding:10%;
  color:#f3f3f3;
  font-size:2.5em;
}

.quote-box i{
  color:#DD183D;
  margin-right:5px;
}

.image-box{
  width:80%;
  margin:10%;
  background-color:#477DDF;
  height:600px;
  padding:10%;
  visibility:hidden;
}

.image-box img{
  width:80%;
}

/* -- 3 Column Row Modules -- */

.row4{
  margin-bottom: 2em;
}

.box{
  width:100%;
  /* margin:0% 5%; */
  /* padding:5%; */
  background:#ee7373;
  text-align:center;
}
.box img{
  /* width:100%; */
  height:60vh;
  margin-bottom:2em;
}

.box button{
  width:100%;
}
