body{
  background-color:#eeeeee;
  padding:5%;
  color:black;
  font-family:arial, sans-serif;
  font-size:14px;
  line-height:1.5em;
}

h1{
  padding-bottom:5px;
  border-bottom:2px solid purple;
}
.section{
  background:rgba(255,255,255,0.5);
  width:90%;
  padding:5%;
}
